<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1 style="text-align: center;">Welcome to the Server</h1>
    <h2 style="text-align: center;">Developed by</h2>
    <p style="text-align: center;">Israk Ahmed</p>
    <p style="text-align: center;">Dept : CSE</p>
    <p style="text-align: center;">ID : 2037820103</p>
    <p style="text-align: center;">Session : 2019-20</p>
    <p style="text-align: center;">TMSS Engineering College affiliated with University of Rajshahi</p>
</body>
</html>